// colors
$primair-color: hsl(322, 92%, 56%);
$primair-background-color: hsl(327, 100%, 4%);
$secund-background-color: hsl(313, 92%, 24%);
$secund-color: hsl(330, 100%, 15%);
$tri-color: hsl(330, 100%, 80%);
$tri-background-color: hsl(340, 100%, 90%);
$text-color: hsl(321, 100%, 5%);

// text
$header: 'Monoton', sans-serif;
$text: 'Poppins', sans-serif;
